{% extends 'layout/default.html.twig' %}

{% form_theme resetPasswordRequestForm 'form_theme.html.twig' %}

{% set activeLink = false %}

{% block title %}Forgot password ? | {{ parent() }}{% endblock %}

{% block page_styles %}
    <style type="text/css">
        .form-reset-password-request {
            max-width: 450px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body_class %}demo-page{% endblock %}

{% block content %}
    <header class="page-header py-5 bg-light">
        <div class="container">
            <h1 class="m-0">Forgot password ?</h1>
        </div>
    </header>

    <div class="container pt-5">
        {{ form_start(resetPasswordRequestForm, {attr: {class: 'form-reset-password-request'}}) }}

        <div class="form-group">
            {{ form_label(resetPasswordRequestForm.email) }}
            {{ form_widget(resetPasswordRequestForm.email, {attr: {class: 'form-control'}}) }}
            {{ form_errors(resetPasswordRequestForm.email) }}
        </div>

        <div class="text-center">
            {{ form_widget(resetPasswordRequestForm.submit, {attr: {class: 'btn btn-lg btn-primary'}}) }}
        </div>

        {{ form_end(resetPasswordRequestForm) }}
    </div>
{% endblock %}
