{% extends 'layout/default.html.twig' %}

{% form_theme resetPasswordForm 'form_theme.html.twig' %}

{% set activeLink = false %}

{% block title %}Reset your password | {{ parent() }}{% endblock %}

{% block page_styles %}
    <style type="text/css">
        .form-reset-password {
            max-width: 450px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body_class %}demo-page{% endblock %}

{% block content %}
    <header class="page-header py-5 bg-light">
        <div class="container">
            <h1 class="m-0">Reset your password</h1>
        </div>
    </header>

    <div class="container py-5">
        {{ form_start(resetPasswordForm, {attr: {class: 'form-reset-password'}}) }}

        <div class="form-group">
            {{ form_label(resetPasswordForm.password.first) }}
            {{ form_widget(resetPasswordForm.password.first, {attr: {class: 'form-control'}}) }}
            {{ form_errors(resetPasswordForm.password.first) }}
        </div>

        <div class="form-group">
            {{ form_label(resetPasswordForm.password.second) }}
            {{ form_widget(resetPasswordForm.password.second, {attr: {class: 'form-control'}}) }}
            {{ form_errors(resetPasswordForm.password.second) }}
        </div>

        {{ form_widget(resetPasswordForm.submit, {attr: {class: 'btn btn-lg btn-primary'}}) }}

        {{ form_end(resetPasswordForm) }}
    </div>
{% endblock %}
